/* Quiz Intro  */

#intro .card {
  margin: 30px;
  text-align: center;
  background-color: #39a0ca;
}

/* Quiz Body */

.container2  {
  background-color: #39a0ca;
  margin: 20px;
  padding: 20px;
}

.card {
  margin: 50px;
  background-color: #39a0ca;
  padding: 10px;
}

/* Quiz Answer */

#quiz-answer {
  display: none;
}

body {
  background-color: #161748;
  color: white;
  font-family: "Didot", serif;
  /* font-weight: bolder; */
}