/* Quiz Intro  */

.jumbotron {
  text-align: center;
  background-color: #091f36;
  color: white;
  text-shadow: black 3px 3px 3px;
  box-shadow: black 6px 6px 6px;
}

/* Quiz Body */



.card {
  margin: 50px;
  background-color: #091f36;
  padding: 10px;
  text-shadow: black 1px 1px 1px;
  color: white;
  box-shadow: black 3px 3px 3px;
}


#quiz-button {
  margin: 50px;
  
}

.btn {
  text-shadow: black 1px 1px 1px;
  box-shadow: black 3px 3px 3px;

}

/* Quiz Answer */

#quiz-answer {
  display: none;
}

body {
  background-color: #161748;
  color: white;
  font-family: "Didot", serif;
  /* font-weight: bolder; */
 
}