/* Quiz Intro  */

.jumbotron {
  text-align: center;
  background-color: #091f36;
  color: white;
  text-shadow: black 3px 3px 3px;
  box-shadow: black 6px 6px 6px;
}

/* Quiz Body */



.card {
  margin: 50px;
  background-color: #091f36;
  padding: 10px;
  text-shadow: black 1px 1px 1px;
  color: white;
  box-shadow: black 3px 3px 3px;
}


#quiz-button {
  margin: 50px;
  
}

.btn {
  text-shadow: black 1px 1px 1px;
  box-shadow: black 3px 3px 3px;
  color: #091f36;

}

/* Quiz Answer */

#javascript {
  display: none;
  color: #091f36;
}

#python {
  display: none;
  color: #091f36;
}

#c {
  display: none;
  color: #091f36;
}




body {
  background-color: #c2edda;
  color: white;
  font-family: "Didot", serif;
 
}